# Cleaning Column Labels

**1 - Drop extraneous columns**   
Drop features that aren't consistent (not present in both datasets) or aren't relevant to our questions. Use [pandas' drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) function.

Columns to Drop:
* From 2008 dataset: 'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'
* From 2018 dataset: 'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'


**2 - Rename Columns**   
Change the "Sales Area" column label in the 2008 dataset to "Cert Region" for consistency.
Rename all column labels to replace spaces with underscores and convert everything to lowercase. (Underscores can be much easier to work with in Python than spaces. For example, having spaces wouldn't allow you to use df.column_name instead of df['column_name'] to select columns or use query(). Being consistent with lowercase and underscores also helps make column names easy to remember.)   
[Pandas' rename](https://machinelearningknowledge.ai/how-to-rename-column-in-pandas-dataframe/) function can help.
    
   
Use `all_alpha_08.csv` and `all_alpha_18.csv`

In [1]:
import pandas as pd

In [2]:
# load datasets

In [3]:
df_08 = pd.read_csv("all_alpha_08.csv")
df_08.head().T

,0,1,2,3,4
Model,ACURA MDX,ACURA MDX,ACURA RDX,ACURA RDX,ACURA RL
Displ,3.7,3.7,2.3,2.3,3.5
Cyl,(6 cyl),(6 cyl),(4 cyl),(4 cyl),(6 cyl)
Trans,Auto-S5,Auto-S5,Auto-S5,Auto-S5,Auto-S5
Drive,4WD,4WD,4WD,4WD,4WD
Fuel,Gasoline,Gasoline,Gasoline,Gasoline,Gasoline
Sales Area,CA,FA,CA,FA,CA
Stnd,U2,B5,U2,B5,U2
Underhood ID,8HNXT03.7PKR,8HNXT03.7PKR,8HNXT02.3DKR,8HNXT02.3DKR,8HNXV03.5HKR
Veh Class,SUV,SUV,SUV,SUV,midsize car
Air Pollution Score,7,6,7,6,7
FE Calc Appr,Drv,Drv,Drv,Drv,Drv
City MPG,15,15,17,17,16
Hwy MPG,20,20,22,22,24
Cmb MPG,17,17,19,19,19
Unadj Cmb MPG,22.0527,22.0527,24.1745,24.1745,24.5629
Greenhouse Gas Score,4,4,5,5,5
SmartWay,no,no,no,no,no

In [4]:
df_18 = pd.read_csv("all_alpha_18.csv")
df_18.head().T

,0,1,2,3,4
Model,ACURA RDX,ACURA RDX,ACURA RDX,ACURA RDX,ACURA TLX
Displ,3.5,3.5,3.5,3.5,2.4
Cyl,6,6,6,6,4
Trans,SemiAuto-6,SemiAuto-6,SemiAuto-6,SemiAuto-6,AMS-8
Drive,2WD,2WD,4WD,4WD,2WD
Fuel,Gasoline,Gasoline,Gasoline,Gasoline,Gasoline
Cert Region,FA,CA,FA,CA,CA
Stnd,T3B125,U2,T3B125,U2,L3ULEV125
Stnd Description,Federal Tier 3 Bin 125,California LEV-II ULEV,Federal Tier 3 Bin 125,California LEV-II ULEV,California LEV-III ULEV125
Underhood ID,JHNXT03.5GV3,JHNXT03.5GV3,JHNXT03.5GV3,JHNXT03.5GV3,JHNXV02.4WH3
Veh Class,small SUV,small SUV,small SUV,small SUV,small car
Air Pollution Score,3,3,3,3,3
City MPG,20,20,19,19,23
Hwy MPG,28,28,27,27,33
Cmb MPG,23,23,22,22,27
Greenhouse Gas Score,5,5,4,4,6
SmartWay,No,No,No,No,No
Comb CO2,386,386,402,402,330

### Drop Extraneous Columns

In [5]:
# drop columns from 2008 dataset
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [6]:
# drop columns from 2018 dataset
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'],axis=1,inplace=True)

# confirm changes
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

### Rename Columns

In [7]:
# rename Sales Area to Cert Region
df_08.rename(columns={"Sales Area":"Cert Region"},inplace=True)

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [8]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [9]:
# replace spaces with underscores and lowercase labels for 2018 dataset
df_18.rename( columns= lambda x: x.strip().lower().replace(" ","_"), inplace=True )


# confirm changes
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [10]:
# confirm column labels for 2008 and 2018 datasets are identical
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True], dtype=bool)

In [11]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

True

In [12]:
# save new datasets for next section
df_08.to_csv('data_08_v1.csv', index=False)
df_18.to_csv('data_18_v1.csv', index=False)